#title {
    color: #A7A2A9;
    font-family: "Audiowide", "Consolas", "Agency FB", sans-serif;
    font-size: 3em;
    text-align: center;
}

.inLineLogo {
    display: inline;
    margin: 2px;
}

#DeviantArtLogo {
    height: 20px;
    width: 12px;
}

#GitHubLogo {
    height: 20px;
    width: 20px;
}

@font-face {
    font-family: Mistral;
    src: url('../../resources/fonts/Mistral.ttf');
}

.project {
    width: 960px;
    margin: 10px auto;
    background-color: #888888;
    padding: 10px;
    border: 4px solid #686868;
    border-radius: 10px;
}

.project_logo {
    width: 450px;
    margin: 0 253px;
    border: 2px solid #000;
    border-radius: 5px;
}

.project h1 {
    width: 100%;
    text-align: center;
    display: block;
}

.project h1 a {
    color: #0A100D;
    font-size: 1.2em;
}

.project a {
    font-size: inherit;
    display: inline;
    color: #000;
}

.project p {
    color: #0A100D;
}

#wasteland_title {
    font-family: Mistral, "Share Tech", "Consolas", "Agency FB", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.12em;
}
