/* Primary stylesheet for spectralvulpine.com */

/* Primary color scheme:
#0A110D - Smoky black
#474747 - Outer space
#A7A2A9 - Quicksilver
#5E0E0D - Rosewood
#902923 - Vivid auburn
 */

/* Google Fonts stuff */

@import url('https://fonts.googleapis.com/css?family=Audiowide|Share+Tech');

body {
    background-color: #474747;
    margin: 0;
}

/*
h1 {
    text-align: center;
    font-style: italic;
    font-family: Arial, sans-serif;
    color: #fff;
}
*/

h2 {
    text-align: center;
    color: #A7A2A9;
    font-family: "Share Tech", "Consolas", "Agency FB", Arial, sans-serif;
    font-size: 1.8em;
}

a {
    color: #902923;
    text-align: center;
    font-family: "Share Tech", "Consolas", "Agency FB", Arial, sans-serif;
    font-size: 24px;
    display: block;
}

ul {
    list-style: none inside;
    padding-left: 0;
}

li {
    color: #A7A2A9;
    text-align: center;
    font-family: "Share Tech", "Consolas", "Agency FB", Arial, sans-serif;
}

li a {
    display: inline;
    margin: 2px auto;
}

a.lightBackgroundLink {
    color: #D02923;
}

.center {
    text-align: center;
}

/* Navigation bar */
nav {
    margin: 0 auto;
    max-width: 800px;
    /*display: none;*/
}

nav ul {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    list-style: none inside;
    padding: 0;
    margin: 0;
    transition-duration: 400ms;
    width: 800px;
}

nav li {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    transition-duration: 400ms;
    width: 200px;
}

nav li a {
    color: #902923;
    text-decoration: none;
}

nav li:hover {
    transition-duration: 400ms;
    background-color: #902923;
}

nav li:hover a {
    transition-duration: 400ms;
    color: #000;
    text-decoration: underline;
}

/* Title bar */

header {
    background: #0A100D;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 20px;
}

#title {
    color: #A7A2A9;
    font-family: "Audiowide", "Consolas", "Agency FB", sans-serif;
    font-size: 2.4em;
    text-align: center;
}

/* Paragraph stuff */

dfn {
    text-decoration-color: inherit;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

p {
    color: #A7A2A9;
    font-family: "Share Tech", "Consolas", "Agency FB", Arial, sans-serif;
    font-size: 1.2em;
    max-width: 800px;
    margin: auto;
}

.paraLink {
    color: #AFAFAF;
    display: inline;
    font-size: inherit;
}

/* Special formatting */

.dossier {
    font-family: "Courier New", monospace;
    max-width: 800px;
    margin: auto;
    color: #000;
}

.dossier li {
    font-family: "Courier New", monospace;
    list-style-type: circle;
    text-align: left;
    margin: 3px;
    color: inherit;
}

.dossier p {
    font-family: "Courier New", monospace;
    font-size: 1em;
    padding-left: 20px;
    color: inherit;
}

article.dossier {
    background-image: url("../../resources/images/backgrounds/top_secret_background.jpg");
    border: 2px solid #111;
    padding: 10px;
}

h2.dossier {
    margin-bottom: 30px;
}

.dossCategory {
    text-transform: uppercase;
}
