/* Primary stylesheet for spectralvulpine.com */

/* Primary color scheme:
#0A110D - Smoky black
#474747 - Outer space
#A7A2A9 - Quicksilver
#5E0E0D - Rosewood
#902923 - Vivid auburn
 */

/* Google Fonts stuff */

@import url('https://fonts.googleapis.com/css?family=Audiowide|Share+Tech');

body {
    background-color: #474747;
    margin: 0;
}

/*
h1 {
    text-align: center;
    font-style: italic;
    font-family: Arial, sans-serif;
    color: #fff;
}
*/

h2 {
    text-align: center;
    color: #A7A2A9;
    font-family: "Share Tech", "Consolas", "Agency FB", Arial, sans-serif;
    font-size: 1.8em;
}

a {
    color: #902923;
    text-align: center;
    font-family: "Share Tech", "Consolas", "Agency FB", Arial, sans-serif;
    font-size: 24px;
    display: block;
}

ul {
    list-style: none inside;
    padding-left: 0;
}

li {
    text-align: center;
}

a.lightBackgroundLink {
    color: #5E0E0D;
}

/* Navigation bar */
nav {
    margin: 0 auto;
    max-width: 800px;
    /*display: none;*/
}

nav ul {
    list-style: none inside;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    width: 800px;
}

nav li {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
    text-align: center;
}

/* Title bar */

header {
    background: #0A100D;
    margin-top: 0;
    padding: 20px;
}

#title {
    font-size: 46px;
    font-family: "Audiowide", "Consolas", "Agency FB", sans-serif;
    color: #A7A2A9;
    text-align: center;
}

/* Paragraph stuff */

p {
    color: #A7A2A9;
    max-width: 800px;
    margin: auto;
    font-family: "Share Tech", "Consolas", "Agency FB", Arial, sans-serif;
    font-size: 1.2em;
}

.paraLink {
    color: #AFAFAF;
    display: inline;
    font-size: inherit;
}
