/* Primary stylesheet for spectralvulpine.com */

/* Primary color scheme:
#0A110D - Smoky black
#474747 - Outer space
#A7A2A9 - Quicksilver
#5E0E0D - Rosewood
#902923 - Vivid auburn
 */

/* Google Fonts stuff */

@import url('https://fonts.googleapis.com/css?family=Audiowide|Share+Tech');

body {
    background-color: #474747;
    margin: 0;
}

/*
h1 {
    text-align: center;
    font-style: italic;
    font-family: Arial, sans-serif;
    color: #fff;
}
*/

h2 {
    text-align: center;
    color: #A7A2A9;
    font-family: "Share Tech", "Consolas", "Agency FB", Arial, sans-serif;
}

a {
    color: #A7A2A9;
    width: 300px;
    margin: auto;
    text-align: center;
    font-family: "Share Tech", "Consolas", "Agency FB", Arial, sans-serif;
    font-size: 24px;
    display: block;
}

/* Navigation bar */
nav {
    margin: 0 auto;
    width: 300px;
    display: none;
}

nav ul {
    list-style-type: none;
    font-family: sans-serif;
}

nav li {
    display: flex;
    flex-direction: row;
}

/* Title bar */

header {
    background: #0A100D;
    margin-top: 0;
    padding: 20px;
}

#title {
    font-size: 46px;
    font-family: "Audiowide", "Consolas", "Agency FB", sans-serif;
    color: #A7A2A9;
    text-align: center;
}
